@using VkUsers.Application.Users.Queries.GetUserDetails;
@model UserDetailsDto;



<div class="global_container">

    <div class="wrapper">
        <a href="#">
            <div class="container">
                <div class="bottom">
                    <div class="left">
                        <div class="details">
                            <p> <b>Логин:</b> @Model.login</p>
                            <p> <b>Пароль:</b> @Model.password</p>
                            <p> <b>Дата создания:</b> @Model.created_date</p>
                            <p> <b>Статус:</b> @Model.state.code (@Model.state.description)</p>
                            <p> <b>Группа:</b> @Model.group.code (@Model.group.description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<a asp-action="Delete" asp-route-id="@Model.id"><button>Заблокировать пользователя</button></a>

<style>
    html, body {
        font-family: sans-serif;
        padding: 25px;
    }

    .global_container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    button {
        margin: 0 43%;
        background-color: #ce1919;
        width: 200px;
        height: 50px;
        color: white;
        font-size: 15px;
        border-radius: 30px;
        border: none;
    }

    .wrapper {
        width: 400px;
        background: white;
        margin: 20px 20px;
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0;
        transform: scale(0.95);
        transition: box-shadow 0.5s, transform 0.5s;
    }

    .container {
        width: 100%;
    }

    .top {
        height: 80%;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .bottom {
        width: 255px;
        transition: transform 0.5s;
    }



    p {
        font-size: 10px;
    }

    .left {
        height: 100%;
        width: 175%;
        background: #f4f4f4;
        position: relative;
        float: left;
    }

    .details {
        padding: 20px;
        float: left;
        width: calc(70% - 40px);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 9px;
        align-items: baseline;
    }

    .buy {
        float: right;
        width: calc(30% - 2px);
        height: 100%;
        background: #f1f1f1;
        border-left: solid thin rgba(0,0,0,0.1);
    }

    .right {
        width: 50%;
        background: #A6CDDE;
        color: white;
        float: right;
        height: 200%;
        overflow: hidden;
    }

    .done {
        width: calc(30% - 2px);
        float: left;
        transition: transform 0.5s;
        border-right: solid thin rgba(255,255,255,0.3);
        height: 50%;
    }

    .remove {
        width: calc(30% - 1px);
        clear: both;
        border-right: solid thin rgba(255,255,255,0.3);
        height: 50%;
        background: #BC3B59;
        transition: transform 0.5s;
    }
</style>
